.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: "Myriad Pro";
  src: url('../fonts/MyriadPro-Regular.otf') format('opentype');
}
body {
  font-size: 13px;
  font-family: Myriad Pro;
}
.home .header {
  background-color: #769915;
  height: 30px;
  padding-top: 4px;
  font-size: 12px;
}
.home .header .header-inner {
  background-color: #e6e6e6;
  color: #3d3d3d;
}
.home .header .header-inner .header-content {
  padding-top: 5px;
}
.home .header .header-inner .header-content .header-block {
  padding: 0 10px;
}
.home .header .header-inner .header-content .header-block img {
  padding-right: 5px;
}
.home .header .header-inner .header-content .header-block a {
  text-decoration: none;
}
.home .header .header-inner .header-content .header-block .header-text {
  position: relative;
  top: 2px;
  color: #3d3d3d;
}
.home .header .header-inner .header-content .header-block .header-text.header-text-fb {
  color: #4c78ab;
}
.home .search {
  padding-top: 1px;
  background-color: #cbcbcb;
  font-size: 14px;
}
.home .search .search-inner {
  text-align: center;
  background: transparent url(../img/bg_search.png) repeat 0 0;
  padding: 80px 0 50px;
}
.home .search .search-inner .search-images {
  padding-bottom: 20px;
}
.home .search .search-inner .search-images .image-left {
  margin-top: 50px;
}
.home .search .search-inner .search-inputs-wrapper {
  background: transparent url(../img/shadow_double.png) no-repeat 50% 15px;
  height: 70px;
}
.home .search .search-inner .search-inputs-wrapper .search-inputs {
  padding: 10px;
  background-color: #a9c622;
  width: 508px;
  margin: 0 auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.home .search .search-inner .search-inputs-wrapper .search-inputs input {
  width: 460px;
}
.home .search .search-inner .search-inputs-wrapper .search-inputs input:focus {
  border-color: #769915;
}
.home .search .search-inner .search-inputs-wrapper .search-inputs button {
  padding: 6px 10px 7px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ecb833;
  background-image: -moz-linear-gradient(top, #e8a929, #f2cf41);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e8a929), to(#f2cf41));
  background-image: -webkit-linear-gradient(top, #e8a929, #f2cf41);
  background-image: -o-linear-gradient(top, #e8a929, #f2cf41);
  background-image: linear-gradient(to bottom, #e8a929, #f2cf41);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8a929', endColorstr='#fff2cf41', GradientType=0);
  border-color: #f2cf41 #f2cf41 #d8b00f;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f2cf41;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.home .search .search-inner .search-inputs-wrapper .search-inputs button:hover,
.home .search .search-inner .search-inputs-wrapper .search-inputs button:active,
.home .search .search-inner .search-inputs-wrapper .search-inputs button.active,
.home .search .search-inner .search-inputs-wrapper .search-inputs button.disabled,
.home .search .search-inner .search-inputs-wrapper .search-inputs button[disabled] {
  color: #ffffff;
  background-color: #f2cf41;
  *background-color: #f0c929;
}
.home .search .search-inner .search-inputs-wrapper .search-inputs button:active,
.home .search .search-inner .search-inputs-wrapper .search-inputs button.active {
  background-color: #efc311 \9;
}
.home .content {
  background: transparent url(../img/bg_content.png) repeat 0 0;
}
.home .content .content-sep-top {
  margin: 0;
  padding-bottom: 1px;
}
.home .content .content-sep-bottom {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}
.home .content .functions {
  margin-top: 80px;
}
.home .content .functions .function-wrapper {
  background: transparent url(../img/shadow_single.png) no-repeat 100% 68px;
}
.home .content .functions .function-wrapper .function {
  margin: 10px;
  height: 100px;
}
.home .content .functions .function-wrapper .function a {
  text-decoration: none;
  color: black;
}
.home .content .functions .function-wrapper .function a .image {
  background-color: white;
  width: 84px;
  padding: 2px;
  border: 1px solid #ccc;
  z-index: 2;
  position: relative;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.home .content .functions .function-wrapper .function a .image img {
  background-color: #769915;
  padding: 20px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.home .content .functions .function-wrapper .function a .text {
  font-size: 30px;
  margin-left: 42px;
  /* half of .image */

  border: 1px solid #769915;
  padding: 1px;
  z-index: 1;
  position: relative;
  top: -68px;
}
.home .content .functions .function-wrapper .function a .text div {
  background: transparent url(../img/bg_function.png) repeat 0 0;
  padding: 16px 0 6px 80px;
  font-style: italic;
}
.home .content .panel-wrapper {
  background: transparent url(../img/shadow_single.png) no-repeat 100% 428px;
  height: 440px;
}
.home .content .panel-wrapper .panel {
  border: 1px solid #ccc;
  margin-top: 20px;
  background: transparent url(../img/bg_panel.png) repeat 0 0;
  position: relative;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}
.home .content .panel-wrapper .panel .panel-header {
  background: transparent url(../img/bg_panel_header.png) repeat 0 0;
  margin-top: 10px;
  width: 106%;
  margin-left: -3%;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1;
  position: relative;
  -webkit-box-shadow: #333333 0px 5px 10px -5px;
  -moz-box-shadow: #333333 0px 5px 10px -5px;
  box-shadow: #333333 0px 5px 10px -5px;
}
.home .content .panel-wrapper .panel .panel-header .panel-header-inner {
  padding: 5px 0 5px 25px;
  border-top: 1px dashed #666;
  border-bottom: 1px dashed #666;
}
.home .content .panel-wrapper .panel .panel-header .panel-header-inner .text {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  position: relative;
  top: 5px;
  padding-left: 10px;
  text-shadow: #3d3d3d 1px 0 0;
}
.home .content .panel-wrapper .panel .panel-header-conner {
  position: absolute;
  width: 106%;
  margin-left: -3%;
}
.home .content .panel-wrapper .panel .panel-header-conner .panel-header-conner-left {
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-top: 20px solid #3a4b0b;
  position: absolute;
  right: 0;
  left: 0;
}
.home .content .panel-wrapper .panel .panel-header-conner .panel-header-conner-right {
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-top: 20px solid #3a4b0b;
  position: absolute;
  right: 0;
  top: 0;
}
.home .content .panel-wrapper .panel .panel-body {
  height: 350px;
  position: relative;
  padding: 10px 0;
  background: transparent url(../img/bg_panel.png) repeat 0 0;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  /* disable select */

  /*-webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;*/

}
.home .content .panel-wrapper .panel .panel-body .panel-scrollbar {
  position: absolute;
  right: 5px;
  z-index: 100;
  width: 15px;
}
.home .content .panel-wrapper .panel .panel-body .panel-scrollbar .track {
  background-color: #e5e5e5;
  border: 1px solid #dadada;
  width: 5px;
}
.home .content .panel-wrapper .panel .panel-body .panel-scrollbar .track .thumb {
  background: transparent url(../img/scrollbar.png) repeat 50% 0;
  width: 11px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -2px;
}
.home .content .panel-wrapper .panel .panel-body .panel-viewport {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.home .content .panel-wrapper .panel .panel-body .panel-viewport .panel-content {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
}
.home .content .panel-wrapper .panel .panel-body .panel-viewport .panel-content .panel-content-line {
  border-bottom: 1px dashed #ccc;
  height: 58px;
}
.home .content .panel-wrapper .panel .panel-body .panel-viewport .panel-content .panel-content-line .panel-content-image {
  width: 80px;
}
.home .content .panel-wrapper .panel .panel-body .panel-viewport .panel-content .panel-content-line .panel-content-image img {
  margin: 5px 15px;
  height: 46px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.8);
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.8);
}
.home .content .panel-wrapper .panel .panel-body .panel-viewport .panel-content .panel-content-line .panel-content-text {
  margin-left: 100px;
  position: relative;
  top: -38px;
}
.home .content .panel-wrapper .panel .panel-body .panel-viewport .panel-content .panel-content-line .panel-content-text .panel-content-title {
  color: #3d3d3d;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: -5px;
}
.home .content .panel-wrapper .panel .panel-body .panel-viewport .panel-content .panel-content-line .panel-content-text .panel-content-sum {
  color: #979797;
  font-size: 12px;
  margin: 0;
}
.home .content .social-link {
  padding-bottom: 20px;
}
.home .footer {
  background: transparent url(../img/bg_footer.png) repeat 0 0;
  height: 42px;
  text-align: center;
  color: white;
}
.home .footer .footer-sep {
  margin: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  position: relative;
  top: -2px;
}
.home .footer .footer-content {
  padding-top: 10px;
}
.home .footer .footer-content a {
  color: white;
}
.home .footer .footer-content .dot {
  font-size: 24px;
  padding: 0 5px;
  position: relative;
  top: 3px;
}
.landing .header {
  background: transparent url(../img/bg_header_landing.png) repeat-x 0 0;
  height: 419px;
}
.landing .header .logo {
  position: relative;
  top: 130px;
}
.landing .header .text {
  position: relative;
  top: 125px;
  left: 15px;
}
.landing .header .slogan {
  position: relative;
  top: 168px;
  left: -232px;
}
.content {
  background: transparent url(../img/bg_panel.png) repeat 0 0;
}
.content hr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 1px;
}
.content hr.sep-first {
  width: 150px;
  margin: 10px auto;
  background-color: #536c0f;
  height: 4px;
  border: none;
}
.content .content-main {
  background: transparent url(../img/bg_panel.png) repeat 0 0;
  position: relative;
  top: -135px;
  height: 135px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
}
.content .content-main .content-welcome-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #536c0f;
  margin: 0;
  padding: 10px 0 0;
}
.content .content-main .content-welcome-body {
  padding: 0 20px;
}
.content .content-main .content-links a {
  padding: 0 20px;
}
.content .content-images {
  position: relative;
  top: -355px;
  height: 0;
}
.content .content-auth-title {
  font-size: 16px;
}
.content .content-buttons img {
  margin-right: 5px;
}
.content .content-buttons span {
  position: relative;
  top: 2px;
}
.content .content-buttons .btn {
  font-size: 12px;
}
.content .content-buttons .btn-twitter {
  border: 1px solid #8fcff1;
  color: #0a9dcd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ebf3fa;
  background-image: -moz-linear-gradient(top, #f9fbfd, #d5e7f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9fbfd), to(#d5e7f5));
  background-image: -webkit-linear-gradient(top, #f9fbfd, #d5e7f5);
  background-image: -o-linear-gradient(top, #f9fbfd, #d5e7f5);
  background-image: linear-gradient(to bottom, #f9fbfd, #d5e7f5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9fbfd', endColorstr='#ffd5e7f5', GradientType=0);
}
.content .content-buttons .btn-facebook {
  border: 1px solid #59709c;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #5b75a4;
  background-image: -moz-linear-gradient(top, #798fb5, #2d4f8b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#798fb5), to(#2d4f8b));
  background-image: -webkit-linear-gradient(top, #798fb5, #2d4f8b);
  background-image: -o-linear-gradient(top, #798fb5, #2d4f8b);
  background-image: linear-gradient(to bottom, #798fb5, #2d4f8b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff798fb5', endColorstr='#ff2d4f8b', GradientType=0);
  margin-left: 10px;
}
.content .footer a {
  color: #3d3d3d;
}
.content .footer .dot {
  font-size: 24px;
  padding: 0 5px;
  position: relative;
  top: 3px;
}
.content .footer .company-name {
  margin-top: 3px;
}
