@import "../../bootstrap-2.1.0/less/variables.less";
@import "../../bootstrap-2.1.0/less/mixins.less";

@font-face {
  font-family: "Myriad Pro";
  src: url('../fonts/MyriadPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: "Myriad Pro";
  src: url('../fonts/MyriadPro-Bold.otf') format('opentype');
  font-weight: bold;
}

@green: #769915;  //#7b9818
@lightGreen: #a9c622;
@darkGreen: #3a4b0b;
@lightBlack: #3d3d3d;
@grey: #8c8c8c;
@lightGrey: #979797;
@blue: #4c78ab;
@orange: #e8a929;
@lightOrange: #f2cf41;

body {
  font-size: 13px;
  font-family: Myriad Pro;
  color: #4b4b4b;
}

#shadowHorizontal {
  #shadowHorizontal() {
    position: relative;
    //box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 20px rgba(0,0,0,0.1) inset;
  }

  #shadowHalf() {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 15px;
    width: 50%;
    height: 20%;
    .box-shadow(0 10px 10px 5px rgba(0,0,0,0.5));
  }

  #shadowHalfLeft() {
    left: 15px;
    .rotate(-3deg);
  }

  #shadowHalfRight() {
    right: 15px;
    .rotate(3deg);
  }

  .shadowHorizontal(@style) when (@style = both) {
    #shadowHorizontal;
    &:before { #shadowHalf; #shadowHalfLeft; }
    &:after { #shadowHalf; #shadowHalfRight; }
  }

  .shadowHorizontal(@style) when (@style = left) {
    #shadowHorizontal;
    &:before { #shadowHalf; #shadowHalfLeft; }
  }

  .shadowHorizontal(@style) when (@style = right) {
    #shadowHorizontal;
    &:after { #shadowHalf; #shadowHalfRight; }
  }
}

.shadow-horizontal { #shadowHorizontal > .shadowHorizontal(both); }
.shadow-horizontal-right { #shadowHorizontal > .shadowHorizontal(right); }

.shadow-landing {  // used once
  position: relative;
  box-shadow: -10px 0 20px -15px rgba(0, 0, 0, 0.5),
               10px 0 20px -15px rgba(0, 0, 0, 0.5),
               0 -10px 20px -15px rgba(0, 0, 0, 0.5);

  &:before, &:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 2px;
    height: 150px;
    .box-shadow(0 40px 15px 10px rgba(0, 0, 0, 0.5));
    .rotate(-6deg);
  }

  &:after {
    left: auto;
    right: 2px;
    .rotate(6deg);
  }
}

.home {
  .header {
    background-color: @green;
    height: 30px;
    padding-top: 4px;
    font-size: 12px;

    .header-inner {
      background-color: #e6e6e6;
      color: @lightBlack;

      .header-content {
        padding-top: 5px;

        .header-block {
          padding: 0 10px;

          img {
            padding-right: 5px;
          }

          a {
            text-decoration: none;
          }

          .header-text {
            position: relative;
            top: 2px;
            color: @lightBlack;

            &.header-text-fb {
              color: @blue;
            }
          }
        }
      }
    }
  }

  .search {
    padding-top: 1px;
    background-color: #cbcbcb;
    font-size: 14px;

    .search-inner {
      text-align: center;
      background: transparent url(../img/bg_search.png) repeat 0 0;
      padding: 80px 0 50px;

      .search-images {
        padding-bottom: 20px;

        .image-left {
          margin-top: 50px;
        }
      }

      .search-inputs-wrapper {
        z-index: 0;  // help shadow showed correctly
        width: 528px;
        margin: 0 auto;

        .search-inputs {
          position: relative;
          z-index: 1;
          padding: 10px;
          background-color: @lightGreen;
          width: 508px;
          margin: 0 auto;
          .border-radius(3px);

          input {
            width: 460px;

            &:focus {
              border-color: @green;
            }
          }

          button {
            padding: 6px 10px 7px;
            .buttonBackground(@orange, @lightOrange);
          }
        }
      }
    }
  }

  .content {
    background: transparent url(../img/bg_content_home.png) repeat 0 0;

    .content-sep-top {
      margin: 0;
      padding-bottom: 1px;
    }

    .content-sep-bottom {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #fff;
    }

    .functions {
      margin-top: 80px;

      .function {
        margin: 10px;
        height: 100px;

        a {
          text-decoration: none;
          color: black;

          .image {
            background-color: white;
            width: 84px;
            padding: 2px;
            border: 1px solid #ccc;
            z-index: 2;
            position: relative;
            .border-radius(500px);

            img {
              background-color: @green;
              padding: 20px;
              .border-radius(500px);
            }
          }

          .text-wrapper {
            margin-left: 42px;  // half of .image
            z-index: 1;
            position: relative;
            top: -68px;

            .text {
              background-color: white;
              font-size: 30px;
              border: 1px solid @green;
              padding: 1px;

              div {
                background: transparent url(../img/bg_function.png) repeat 0 0;
                padding: 16px 0 6px 80px;
                font-style: italic;
              }
            }
          }
        }
      }
    }

    .panel-wrapper {
      z-index: 0;  // help shadow showed correctly

      .panel {
        border: 1px solid #ccc;
        margin-top: 20px;
        background: transparent url(../img/bg_content.png) repeat 0 0;
        position: relative;
        .border-bottom-left-radius(5px);
        .border-bottom-right-radius(5px);

        .panel-header {
          background: transparent url(../img/bg_panel_header.png) repeat 0 0;
          margin-top: 10px;
          width: 106%;
          margin-left: -3%;
          padding-top: 5px;
          padding-bottom: 5px;
          z-index: 1;
          position: relative;
          .box-shadow(#333 0px 5px 10px -5px);

          .panel-header-inner {
            padding: 5px 0 5px 25px;
            border-top: 1px dashed #666;
            border-bottom: 1px dashed #666;

            .text {
              font-size: 20px;
              font-weight: bold;
              font-style: italic;
              position: relative;
              top: 5px;
              padding-left: 10px;
              text-shadow: @lightBlack 1px 0 0;
            }
          }
        }

        .panel-header-conner {
          position: absolute;
          width: 106%;
          margin-left: -3%;

          .panel-header-conner-left {
            width: 0px;
            height: 0px;
            border-left: 20px solid transparent;
            border-top: 20px solid @darkGreen;
            position: absolute;
            right: 0;
            left: 0;
          }

          .panel-header-conner-right {
            width: 0;
            height: 0;
            border-right: 20px solid transparent;
            border-top: 20px solid @darkGreen;
            position: absolute;
            right: 0;
            top: 0;
          }
        }

        .panel-body {
          height: 350px;
          position: relative;
          padding: 10px 0;
          background: transparent url(../img/bg_content.png) repeat 0 0;
          .border-bottom-left-radius(5px);
          .border-bottom-right-radius(5px);

          // Disable selection
          //-webkit-touch-callout: none;
          //-webkit-user-select: none;
          //-khtml-user-select: none;
          //-moz-user-select: none;
          //-ms-user-select: none;
          //user-select: none;

          .panel-scrollbar {
            position: absolute;
            right: 5px;
            z-index: 100;
            width: 15px;

            .track {
              background-color: #e5e5e5;
              border: 1px solid #dadada;
              width: 5px;

              .thumb {
                background: transparent url(../img/scrollbar.png) repeat 50% 0;
                width: 11px;
                cursor: pointer;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: -2px;
              }
            }
          }

          .panel-viewport {
            height: 100%;
            overflow: hidden;
            position: relative;

            .panel-content {
              position: absolute;
              left: 0;
              top: 0;
              padding: 0;
              margin: 0;
              width: 100%;

              .panel-content-line {
                border-bottom: 1px dashed #ccc;
                height: 58px;

                .panel-content-image {
                  width: 80px;

                  img {
                    margin: 5px 15px;
                    height: 46px;
                    .border-radius(3px);
                    .box-shadow(3px 3px 6px 0 rgba(0,0,0,.8));
                  }
                }

                .panel-content-text {
                  margin-left: 100px;
                  position: relative;
                  top: -38px;

                  .panel-content-title {
                    color: @lightBlack;
                    font-size: 14px;
                    font-weight: bold;
                    margin-bottom: -5px;
                  }

                  .panel-content-sum {
                    color: @lightGrey;
                    font-size: 12px;
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      }
    }

    .social-links {
      padding-bottom: 20px;
    }
  }

  .footer {
    background: transparent url(../img/bg_footer.png) repeat 0 0;
    height: 42px;
    text-align: center;
    color: white;

    .footer-sep {
      margin: 0;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #fff;
      position: relative;
      top: -2px;
    }

    .footer-content {
      padding-top: 10px;

      a {
        color: white;
      }

      .dot {
        font-size: 24px;
        padding: 0 5px;
        position: relative;
        top: 3px;
      }
    }
  }
}

.staticpage {
  .header {
    background: transparent url(../img/bg_header_landing.png) repeat-x 0 0;
    height: 419px;

    .logo {
      position: relative;
      top: 130px;
    }

    .text {
      position: relative;
      top: 122px;
      left: 15px;
    }

    .slogan {
      position: relative;
      top: 166px;
      left: -232px;
    }
  }
}

.content {
  background: transparent url(../img/bg_content.png) repeat 0 0;

  hr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid white;

    &.sep-spec {
      width: 150px;
      margin: 10px auto 32px;
      background-color: darken(@green, 10%);
      height: 6px;
      border: none;
    }

    &.sep-double {
      border-bottom: 1px solid #ddd;
      height: 1px;
    }

    &.sep-dash {
      border-style: dashed;
    }

    &.sep-extra-width {
      margin-left: -10px;
      margin-right: -10px;
    }

    &.sep-bottom {
      margin-bottom: 150px;
    }
  }

  .margin {
    margin-left: 20px;
    margin-right: 20px;
  }

  .margin-left {
    margin-left: 20px;
  }

  .margin-right {
    margin-right: 20px;
  }

  .content-main-wrapper {
    z-index: 0;

    .content-main {
      background: transparent url(../img/bg_content.png) repeat 0 0;
      min-height: 250px;
      margin-top: -135px;
      padding-top: 5px;
      .border-top-left-radius(10px);
      .border-top-right-radius(10px);

      .content-welcome-title {
        // BebasNeue font
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: darken(@green, 10%);
        margin: 0;
        padding: 10px 0 0;
      }

      .content-links a {
        margin-right: 30px;

        &:focus {
          outline: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        &> img {
          .border-radius(8px);
          .box-shadow(@green 0px 3px);
        }
      }
    }
  }

  .content-images {
    position: relative;
    top: -355px;
    height: 0;
  }

  .content-auth-title {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
  }

  .content-auth-content {
    font-family: Arial;
    font-size: 9px;
    line-height: 14px;
    color: #a7a7a7;
  }

  .content-buttons {
    img {
      margin-right: 5px;
    }

    span {
      position: relative;
      top: 2px;
    }

    .btn {
      font-size: 12px;
    }

    .btn-twitter {
      border: 1px solid #8fcff1;
      color: #0a9dcd;
      .border-radius(5px);
      #gradient > .vertical(#f9fbfd, #d5e7f5);
    }

    .btn-facebook {
      border: 1px solid #59709c;
      color: white;
      .border-radius(5px);
      #gradient > .vertical(#798fb5, #2d4f8b);
      margin-left: 10px;
    }
  }

  .footer {
    a {
      color: @lightBlack;
    }

    .dot {
      font-size: 24px;
      padding: 0 5px;
      position: relative;
      top: 3px;
    }

    .company-name {
      margin-top: 3px;
    }
  }
}

#youtube-modal {
  width: 680px;
  margin-left: -340px;
  background: transparent url(../img/bg_content.png) repeat 0 0;

  .close { display: none }

  &:hover .close {
    display: block;
    float: auto;
    position: absolute;
    right: 4px;
    top: 2px;
    font-size: 24px;
  }

  .modal-body {
    padding: 20px;
  }
}
