{% extends "base.html" %}

{% load i18n bootstrap_tags facebook %}
{% load url from future %}

{% block head_title %}{% trans "Setup social account" %}{% endblock %}

{% block body %}
<h3>{% trans "Setup an account connected to your social profile" %}</h3>
{% if error %}
    <div class="alert alert-error">{{ error }}</div>
{% else %}
    <form method="POST" action=".">{% csrf_token %}
        {{ form|as_bootstrap }}
        <input type="submit" value="{% trans "Setup" %}" class="btn" />
    </form>
{% endif %}
{% endblock %}
