{% extends "staticpage.html" %}

{% load i18n static %}

{% block head_title %}Investors{% endblock %}

{% block content_title %}
    {% trans "INVESTORS" %}
{% endblock %}

{% block content_body %}
    {% blocktrans %}
    <p>Vinny is a young company and our profile can be found on Angel List <a href="http://angel.co/vinny">http://angel.co/vinny</a></p>
    {% endblocktrans %}
{% endblock %}

{% block content_buttons %}
    <div class="row content-buttons">
        <div class="span12">
            <div class="pull-right">
                <a href="https://twitter.com/vinny_says" class="btn btn-twitter" type="button"><img src="{% static "site/img/button_twitter.png" %}" alt="{% trans "Twitter" %}" /> <span>{% trans "Follow Us" %}</span></a>
                <a href="http://www.facebook.com/vinnyapp" class="btn btn-facebook margin-right" type="button"><img src="{% static "site/img/button_facebook.png" %}" alt="{% trans "Facebook" %}" /> <span>{% trans "Like Us" %}</span></a>
            </div>
        </div>
    </div>
{% endblock %}
