{% extends "staticpage.html" %}

{% load i18n static %}
{% load url from future %}

{% block head_title %}Jobs{% endblock %}

{% block content_title %}
    {% trans "JOBS" %}
{% endblock %}

{% block content_body %}
    {% url "support" as support_url %}
    {% blocktrans %}
    <p>We are always looking for great people to join the used car data revolution,
    so if you are interested in working with us, laydown some feedback on our <a href="{{ support_url }}" class="support-link">support forum</a>.
    Inspire us with a new idea.</p>
    {% endblocktrans %}
{% endblock %}

{% block content_buttons %}
    <div class="row content-buttons">
        <div class="span12">
            <div class="pull-right">
                <a href="https://twitter.com/vinny_says" class="btn btn-twitter" type="button"><img src="{% static "site/img/button_twitter.png" %}" alt="{% trans "Twitter" %}" /> <span>{% trans "Follow Us" %}</span></a>
                <a href="http://www.facebook.com/vinnyapp" class="btn btn-facebook margin-right" type="button"><img src="{% static "site/img/button_facebook.png" %}" alt="{% trans "Facebook" %}" /> <span>{% trans "Like Us" %}</span></a>
            </div>
        </div>
    </div>
{% endblock %}
