{% extends "staticpage.html" %}

{% load i18n static %}

{% block content_title %}
    {% trans "WELCOME TO VINNY" %}
{% endblock %}

{% block content_body %}
    {% blocktrans %}
    <p>Vinny is your buddy in the used car business, watching your back so you don't get ripped off.
       Within seconds, he will tell you the wholesale price of that car you are interested in buying.</p>
    <p>Simply scan the VIN barcode on the drivers side door (or enter manually), and then smile when talking to the dealer.
       Now you have actual market prices in your hand.</p>
    <p>Negotiate with confidence.</p>
    {% endblocktrans %}
{% endblock %}

{% block content_link %}
    <a href='#'><img src="{% static "site/img/button_app_store.png" %}" alt="App Store" /></a>
    <a href='#'><img src="{% static "site/img/button_google_play.png" %}" alt="Google Play" /></a>
    <div class="pull-right">
        <a href="#youtube-modal" data-toggle="modal"><img src="{% static "site/img/button_watch_video.png" %}" alt="Watch Video" /></a>
    </div>
{% endblock %}
