{% extends "staticpage.html" %}

{% load i18n static %}
{% load url from future %}

{% block content_title %}
    {% trans "WELCOME TO VINNY" %}
{% endblock %}

{% block content_nav %}{% endblock %}{# not show in landing page #}

{% block content_body %}
    {% blocktrans %}
    <p>Vinny is your buddy in the used car business, watching your back so you don't get ripped off.
       Within seconds, he will tell you the wholesale price of that car you are interested in buying.</p>
    <p>Simply scan the VIN barcode on the drivers side door (or enter manually), and then smile when talking to the dealer.
       Now you have actual market prices in your hand.</p>
    <p>Negotiate with confidence.</p>
    {% endblocktrans %}
{% endblock %}

{% block content_link %}
    <a href='#'><img src="{% static "site/img/button_app_store.png" %}" alt="App Store" /></a>
    <a href='#'><img src="{% static "site/img/button_google_play.png" %}" alt="Google Play" /></a>
    <div class="pull-right">
        <a href="#youtube-modal" data-toggle="modal"><img src="{% static "site/img/button_watch_video.png" %}" alt="Watch Video" /></a>
    </div>
{% endblock %}

{% block content_not_landing %}{% endblock %}

{% block content_landing %}
    <hr class="sep-double sep-dash sep-extra-width" />
    
    <div class="row">
        <div class="span2">
            <p class="content-auth-title margin-left">{% trans "Facebook Connect" %}</p>
            <p class="content-auth-body margin-left">{% trans "Like us on Facebook and get a free car history report" %}</p>
        </div>
        <div class="span2">
            <p class="content-auth-title margin-left">{% trans "Already a member?" %}</p>
        </div>
        <div class="span2">
            <p class="content-auth-title margin-left">{% trans "Not a member yet?" %}</p>
        </div>
    </div>
    
    <div class="row content-buttons">
        <div class="span2">
            {% comment %}
            <form class="connect-button" name="login" method="post" action="{% url "socialregistration:facebook:redirect" %}">{% csrf_token %}
                <button onclick="this.form.submit();" class="btn btn-connect margin-left" type="button">
                    <img src="{% static "site/img/button_facebook.png" %}" alt="" /> <span>{% trans "Connect" %}</span>
                </button>
            </form>
            {% endcomment %}
            <button class="btn btn-facebook margin-left" type="button" id="facebook-connect" data-url="{% url "ajax_fb_connect" %}">
                <img src="{% static "site/img/button_facebook.png" %}" alt="" /> <span>{% trans "Connect" %}</span>
            </button>
            <div class="content-avatar"></div>
        </div>
        <div class="span2">
            {#<a href="{% url "auth_login" %}" class="btn btn-inverse margin-left" type="button"><img src="{% static "site/img/lock_light.png" %}" alt="{% trans "Log in" %}" /> <span>{% trans "Log in" %}</span></a>#}
            <a class="btn btn-inverse margin-left login-ajax" type="button" data-url="{% url "ajax_login" %}">
                <img src="{% static "site/img/lock_light.png" %}" alt="" /> <span>{% trans "Log in" %}</span>
            </a>
        </div>
        <div class="span2">
            <a href="{% url "registration_register" %}" class="btn btn-warning margin-left" type="button">
                <img src="{% static "site/img/lock_light.png" %}" alt="{% trans "Sign up" %}" /> <span>{% trans "Sign up" %}</span>
            </a>
        </div>
        <div class="span6">
            <div class="pull-right">
                <a href="http://twitter.com/vinny_says" class="btn btn-twitter" type="button">
                    <img src="{% static "site/img/button_twitter.png" %}" alt="" /> <span>{% trans "Follow Us" %}</span>
                </a>
                <a href="http://www.facebook.com/vinnyapp" class="btn btn-facebook margin" type="button">
                    <img src="{% static "site/img/button_facebook.png" %}" alt="" /> <span>{% trans "Like Us" %}</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}{{ block.super }}
<script type="text/javascript">
    // Youtube player controller
    var tag = document.createElement('script');
    tag.src = "//www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    var player;
    var playerIsReady = false;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('youtube-player', {
            height: '360',
            width: '640',
            videoId: 'nDzYrYRy24U',
            events: {
                onReady: function(event) {
                    playerIsReady = true;
                },
            },
        });
    }

    // Auto start/stop Youtube when show and/hide modal
    $(function() {
        $('#youtube-modal').on('shown', function() {
            if (playerIsReady) player.seekTo(0);
        });
        $('#youtube-modal').on('hide', function() {
            if (playerIsReady) player.stopVideo();
        });
    });

    // Ajax login for class login-ajax
    $(function() {
        $('.login-ajax').click(function() {
            $.get($(this).data('url'), function(data) {
                var $loginOverlay = $('<div>')
                                        .modal({backdrop: true, keyboard: true})
                                        .appendTo('body');

                var loginSubmit = function() {
                    $(this).ajaxSubmit({
                        success: function(data) {
                            if (data.location)
                                window.location.href = data.location;
                            else
                                $loginOverlay.html(data.html)
                                             .find('form').submit(loginSubmit);
                        }
                    });
                    return false;
                };

                $loginOverlay.html(data.html)
                             .find('form').submit(loginSubmit);
            })
        });
        return false;
    });

    // Facebook connect button
    window.handleResponse = function(response, createUserUrl) {
        if (response.status == "connected") {
            var imageUrl = 'http://graph.facebook.com/' + response.authResponse.userID + '/picture';
            $('.content-avatar').html('<img src="'+ imageUrl + '" alt="" />')
            if (typeof createUserUrl !== "undefined" )
                $.post(createUserUrl, response.authResponse, function(data) {
                    console.log(data);
                })
        } else {
            $('.content-avatar').html('')
        }
    }

    window.fbAsyncInit = function() {
        FB.init({
            appId  : '{{ SETTINGS.FACEBOOK_APP_ID }}',
            status : true,
            cookie : true,
            xfbml  : true,
        });

        FB.getLoginStatus(function(response) {
            //console.log('FB.getLoginStatus');
            //console.log(response);
            handleResponse(response);
        });
    };

    (function(d){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         ref.parentNode.insertBefore(js, ref);
    }(document));
    
    $(function() {
        $('#facebook-connect').one('click', function() {
            var self = this;

            FB.Event.subscribe('auth.login', function (response) {
                //console.log("FB.Event.subscribe('auth.login')");
                //console.log(response);
                handleResponse(response, $(self).data('url'));
            });

            FB.Event.subscribe('auth.logout', function (response) {
                //console.log("FB.Event.subscribe('auth.logout')");
                //console.log(response);
                handleResponse(response);
            });
        }).click(function() {
            FB.login();
        });
    });
</script>
{% endblock %}
