{% extends "base.html" %}

{% load i18n staticfiles webdesign %}
{% load url from future %}

{% block head_title_base %}Vinny Project{% endblock %}

{% block body_class %}staticpage{% endblock %}

{% block body_base %}
<div class="header">
    <div class="container">
        <div class="row">
            <div class="span12">
                <a href="{% url "landing" %}">
                    <img src="{% static "site/img/logo.png" %}" alt="" class="logo" />
                    <img src="{% static "site/img/logo_text_light.png" %}" alt="VINNY" class="text" />
                    <img src="{% static "site/img/logo_slogan.png" %}" alt="MONEYBALL FOR USED CARS" class="slogan" />
                </a>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="span8 ">
                <div class="content-main-wrapper shadow-landing">
                    <div class="content-main">
                        <hr class="sep-spec" />

                        <hr class="sep-double" />

                        <p class="content-welcome-title">{% block content_title %}{# CONTENT HERE #}{% endblock %}</p>

                        <hr class="sep-double" />

                        <div class="content-welcome-body margin">
                            {% block content_body %}{# CONTENT HERE #}{% endblock %}
                        </div>

                        <div class="content-links margin">
                            {% block content_link %}{# CONTENT HERE #}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="content-images">
                    <img src="{% static "site/img/mobiles.png" %}" alt="Mobile" />
                </div>
            </div>
        </div>

        <hr class="sep-double sep-dash sep-extra-width" />

        {% block content_buttons %}
        <div class="row">
            <div class="span2">
                <p class="content-auth-title margin-left">{% trans "Not a member yet?" %}</p>
                <p class="content-auth-body margin-left">{% trans "Like us on Facebook and get a free car history report" %}</p>
            </div>
            <div class="span2">
                <p class="content-auth-title margin-left">{% trans "Already a member?" %}</p>
            </div>
        </div>

        <div class="row content-buttons">
            <div class="span2">
                {#<a href="{% url "registration_register" %}" class="btn btn-warning margin-left" type="button"><img src="{% static "site/img/lock_light.png" %}" alt="{% trans "Sign up" %}" /> <span>{% trans "Sign up" %}</span></a>#}
                <form class="connect-button" name="login" method="post" action="{% url "socialregistration:facebook:redirect" %}">{% csrf_token %}
                    <button onclick="this.form.submit();" class="btn btn-warning margin-left" type="button">
                        <img src="{% static "site/img/lock_light.png" %}" alt="" /> <span>{% trans "Sign up" %}</span>
                    </button>
                </form>
            </div>
            <div class="span2">
                {#<a href="{% url "auth_login" %}" class="btn btn-inverse margin-left" type="button"><img src="{% static "site/img/lock_light.png" %}" alt="{% trans "Log in" %}" /> <span>{% trans "Log in" %}</span></a>#}
                <a class="btn btn-inverse margin-left login-ajax" type="button" data-url="{% url "ajax_login" %}">
                    <img src="{% static "site/img/lock_light.png" %}" alt="" /> <span>{% trans "Log in" %}</span>
                </a>
            </div>
            <div class="span8">
                <div class="pull-right">
                    <a href="http://twitter.com/vinny_says" class="btn btn-twitter" type="button">
                        <img src="{% static "site/img/button_twitter.png" %}" alt="" /> <span>{% trans "Follow Us" %}</span>
                    </a>
                    <a href="http://www.facebook.com/vinnyapp" class="btn btn-facebook margin-right" type="button">
                        <img src="{% static "site/img/button_facebook.png" %}" alt="" /> <span>{% trans "Like Us" %}</span>
                    </a>
                </div>
            </div>
        </div>
        {% endblock %}

        <hr class="sep-extra-width" />

        <div class="row footer">
            <div class="span12">
                {#<a href="#">Your account</a> <span class="dot">&bull;</span>#}
                <a href="{% url "about" %}">About us</a> <span class="dot">&bull;</span>
                <a href="#" class="support-link">Support</a> <span class="dot">&bull;</span>
                {#<a href="#">Blog</a> <span class="dot">&bull;</span>#}
                {#<a href="#">API</a> <span class="dot">&bull;</span>#}
                <a href="{% url "jobs" %}">Jobs</a> <span class="dot">&bull;</span>
                {#<a href="#">Privacy</a> <span class="dot">&bull;</span>#}
                <a href="{% url "investors" %}">Investors</a> <span class="dot">&bull;</span>
                <a href="{% url "terms" %}">Terms</a>
                <div class="pull-right company-name">
                    &copy; 2012 Vinny, Inc.
                </div>
            </div>
        </div>

        <hr class="sep-bottom sep-extra-width" />
    </div>
</div>

<div id="youtube-modal" class="modal hide">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <div class="modal-body">
        <div id="youtube-player"></div>
    </div>
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  // Uservoice
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/SkDP3CiAJFwmNn0YClscA.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();

  // Support link triggers Uservoice
  $(function() {
    $('.support-link').click(function() {
      $('#uvTabLabel').click();
      return false;
    });
  });

  // Youtube player controller
  var tag = document.createElement('script');
  tag.src = "//www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  var player;
  var playerIsReady = false;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('youtube-player', {
      height: '360',
      width: '640',
      videoId: 'nDzYrYRy24U',
      events: {
        onReady: function(event) {
          event.target.playVideo();
          playerIsReady = true;
        },
      },
    });
  }

  // Auto start/stop when show and/hide modal
  $(function() {
    $('#youtube-modal').on('shown', function() {
      if (playerIsReady) player.seekTo(0);
    });
    $('#youtube-modal').on('hide', function() {
      if (playerIsReady) player.stopVideo();
    });
  });

    // Ajax login for class login-ajax
    $(function() {
        $('.login-ajax').click(function() {
            $.get($(this).data('url'), function(data) {
                var $loginOverlay = $('<div>')
                                        .modal({backdrop: true, keyboard: true})
                                        .appendTo('body');

                var loginSubmit = function() {
                    $(this).ajaxSubmit({
                        success: function(data) {
                            if (data.location)
                                window.location.href = data.location;
                            else
                                $loginOverlay.html(data.html)
                                             .find('form').submit(loginSubmit);
                        }
                    });
                    return false;
                };

                $loginOverlay.html(data.html)
                             .find('form').submit(loginSubmit);
            })
        });
        return false;
    });
</script>
{% endblock %}
